<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      New-K
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let noticia of noticias">
       
        <ion-card>

          <ion-card-header>
            <ion-card-subtitle>{{ noticia.source.name }}</ion-card-subtitle>
            <ion-card-title>{{ noticia.title }}</ion-card-title>
          </ion-card-header>
          <ion-img *ngIf="noticia.urlToimage" [src]="noticia.urlToimage"> </ion-img>



        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>